{% extends '../base.html' %}
{% load static %}
{% load mathfilters %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
{% endblock header %}

{% block content %}
<main>
    <div class="container mb-3 fixed-top bg-white"> 
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid ">
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'img/logo.png' %}" alt="" width="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'Product:list-product' %}">Product</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Hi, {{current_user}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'Order:pesananSaya' %}">My Order</a></li>
                    <li><a class="dropdown-item" href="{% url 'User:logout' %}">Log Out</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'Cart:cart' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'User:userSignIn' %}">
                    <button class="btn btn-login">Login</button>
                  </a>
                </li>
                {% endif %}
                
              </ul>
            </div>
          </div>
        </nav>
        
      </div>

    <div class="container">
        <h3><b>Cart</b></h3>
        <div class="row">
            <div class="col-md-8">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            {% for item_cart in cart_items %}
                            {% with product=item_cart.id_product %}
                            {% with x=context_var %}
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ product.image }}" class="img-fluid rounded-start"
                                            alt="Product Image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ product.name }}</h5>
                                            <p class="card-text">{{ product.description }}</p>
                                            <p class="card-text stock">{{ product.stock }}</p>
                                            <h5 class="card-title">{{ product.pricePerDay }}</h5>
                                            <div class="counter">
                                                <button class="counter-btn btn btn-primary decrement">-</button>
                                                <div class="counter-value" data-item-id="{{ item_cart.id }}">
                                                    {{ item_cart.quantity }}</div>
                                                <button class="counter-btn btn btn-primary increment">+</button>
                                            </div>
                                            <p class="card-text subtotal">Subtotal: ${{ product.pricePerDay | mul:item_cart.quantity }}</p>
                                            <a href="{% url 'Cart:removeProductFromCart' product_id=item_cart.id %}"
                                                class="btn btn-primary">delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endwith %}
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Total Harga</h4>
                            <div class="total harga" id="total_harga">{{ total_harga }}</div>
                            <a class="btn btn-primary" href="{% url 'Order:checkoutForm' %}">Check Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('.counter-btn.decrement').on('click', function () {
            var index = $('.counter-btn.decrement').index(this);
            var count = parseInt($('.counter-value').eq(index).text());
            if (count > 0) {
                count--;
                $('.counter-value').eq(index).text(count);
                updateQuantity(index, count);
            }
        });
    
        $('.counter-btn.increment').on('click', function () {
            var index = $('.counter-btn.increment').index(this);
            var count = parseInt($('.counter-value').eq(index).text());
            var stock = parseInt($('.card-text.stock').eq(index).text());
            if (count < stock) {
                count++;
                $('.counter-value').eq(index).text(count);
                updateQuantity(index, count);
            } else {
                alert('Jumlah tidak boleh melebihi stok yang tersedia');
            }
        });

    function updateQuantity(index, count) {
        var item_id = $('.counter-value').eq(index).data('itemId');
        var cardElement = $('.counter-value').eq(index).closest('.card');
        var subtotalElement = cardElement.find('.subtotal');
        var totalElement = $('#total_harga');
        
        // Get the maximum stock quantity for the product
        var maxStock = parseInt(cardElement.find('.card-text.stock').text().trim());
        
        // Check if count exceeds the maximum stock
        if (count > maxStock) {
            alert('Quantity cannot exceed available stock');
            // Reset count to the maximum stock
            count = maxStock;
            $('.counter-value').eq(index).text(count);
            return;
        }
        
        $.ajax({
            url: '{% url "Cart:update_quantity" %}',
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            dataType: 'json',
            data: JSON.stringify({ item_id: item_id, new_quantity: count }),
            success: function (data) {
                if ('subtotal' in data && 'total_harga' in data) {
                    if (subtotalElement.length) {
                        subtotalElement.text('Subtotal: $' + data.subtotal.toFixed(2));
                    }
                    totalElement.text('Total Harga: $' + data.total_harga.toFixed(2));
                } else if ('deleted' in data && data.deleted) {
                    cardElement.remove();
                    totalElement.text('Total Harga: $' + data.total_harga.toFixed(2));
                } else if ('error' in data) {
                    console.error(data.error);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                // Handle error here
            }
        });
    }
    
    


    $('.btn-remove').on('click', function () {
        var index = $('.btn-remove').index(this);
        removeItem(index);
    });

    function removeItem(index) {
        var item_id = $('.counter-value').eq(index).data('itemId');

        $.ajax({
            url: '{% url "Cart:remove_product" %}',
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            dataType: 'json',
            data: JSON.stringify({ item_id: item_id }),
            success: function (data) {
                if ('deleted' in data && data.deleted) {
                    var cardElement = $('.card[data-item-id="' + item_id + '"]');
                    if (cardElement.length) {
                        cardElement.remove();
                    }
                } else if ('error' in data) {
                    console.error(data.error);
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
                // Handle error here
            }
        });
    }
});

</script>
{% endblock content %}
