{% extends '../base.html' %}
{% load static %}


{% block header %}
<style>
    /* Additional styles */
    .counter {
      display: flex;
      align-items: center;
    }
    .counter-btn {
      cursor: pointer;
    }
    .counter-value {
      margin: 0 10px;
      font-size: 1.2rem;
    }
  </style>
{% endblock header %}

{% block content %}
<h1>cart</h1>
<div class="p-5 row">
   <div class="col-md-8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              {% for item_cart in cart_items %}
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{item_cart.image.url}}" class="img-fluid rounded-start" alt="Product Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{item_cart.name}}</h5>
                                <p class="card-text">{{item_cart.description}}</p>
                                <p class="card-text">{{item_cart.stock}}</p>
                                <h5 class="card-title">{{item_cart.pricePerDay}}</h5>
                                <div class="counter">
                                    <button class="counter-btn btn btn-primary" id="decrement">-</button>
                                    <div class="counter-value">{{item_cart.quantity}}</div>
                                    <button class="counter-btn btn btn-primary" id="increment">+</button>
                                  </div>
                                <p class="card-text">Subtotal: $100</p>
                                <a href="" class="btn btn-primary">delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
   </div>
</div>

<script>
    // JavaScript code to handle counter functionality
    document.addEventListener('DOMContentLoaded', function() {
      const decrementBtn = document.getElementById('decrement');
      const incrementBtn = document.getElementById('increment');
      const counterValue = document.querySelector('.counter-value');

      let count = 0;

      decrementBtn.addEventListener('click', function() {
        if (count > 0) {
          count--;
          counterValue.textContent = count;
        }
      });

      incrementBtn.addEventListener('click', function() {
        count++;
        counterValue.textContent = count;
      });
    });
  </script>
{% endblock content %}
    