{% extends '../base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/product/list_product.css' %}">
<link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
<title>Amelyn Collection</title>
    
{% endblock header %}

{% block content %}

    <header>
      <!-- navbar -->
      <div class="container mb-3 fixed-top bg-white"> 
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid ">
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'img/logo.png' %}" alt="" width="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Beranda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'Product:list-product' %}">Produk</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Hubungi Kami</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Hi, {{current_user}}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{% url 'Order:pesananSaya' %}">Pesanan Saya</a></li>
                <li><a class="dropdown-item" href="{% url 'User:logout' %}">Keluar</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'Cart:cart' %}">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'User:userSignIn' %}">
                    <button class="btn btn-login">Login</button>
                  </a>
                </li>
                {% endif %}
                
              </ul>
            </div>
          </div>
        </nav>
        
      </div>
    </header>
    
  <main>
    {% include 'widgets/flasher.html' %}
      <div class="container">
          <!-- search form -->
          <div class="col-md-3 ms-auto mb-3">
            <form class="d-flex" action="{% url 'Product:list-product' %}" method="GET">
              <input class="form-control shadow-none me-2" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.GET.q }}">
              <button class="btn btn-primary" type="submit"><i class="fa-solid fa-search"></i></button>
          </form>
          
          
          </div>

          <div class="row justify-content-start">
            {% for product in products  %}  
              <!-- card -->
              <div class="card mb-3 shadow-sm" style="width: 18rem; margin: 0 6px">
                  <img src="{{product.image.url}}" class="card-img-top mt-3" alt="..." style="height: 170px;">
                  <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p>{{product.pricePerDay}} /hari</p>
                      <p class="card-text">stok: {{product.stock}}</p>

                      <div class="row">
                          <div class="col">
                              {% comment %} <a href="#" class="btn bt-sm cart-button">Add to Cart</a> {% endcomment %}
                              {% if product.stock != 0 %}
                              <form method="post" action="{% url 'Cart:add_to_cart' product_id=product.id %}">
                                {% csrf_token %}
                                <button class="btn bt-sm cart-button w-100" type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                              </form>
                            {% else %}
                              <button class="btn bt-sm cart-button disabled w-100" type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            {% endif %}
                          </div>
                          <div class="col">
                              <a href="{% url 'Product:detail-product' detail_id=product.id %}" class="btn description-button w-100">Detail</a>
                          </div>
                      </div>
                  </div>
              </div>

          {% endfor %}
            

          </div>
      </div>
  </main>
  <footer>
    <div class="container text-center mt-5">
      <p>KREASIKAN OUTFIT DENGAN BEBAS</p>
      <h1><b>Informasi Lebih Lanjut</b></h1>
      <h6>Amelyn Collection adalah destinasi utama untuk penyewaan kostum, menyediakan pilihan kostum berkualitas tinggi yang tak tertandingi untuk setiap acara.</h6>
      <div class="d-flex justify-content-around mt-5">
        <img src="{% static 'img/logo.png' %}" alt="" height="35px">
        <a href="{% url 'contact' %}" class="btn bt-sm description-button contact rounded-3">Hubungi Kami</a>
        <div class="row">
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/linkedin.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/b.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/ig.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/yt.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            
        </div>
      </div>
      <p class="mt-3">&copy;2024-AMELYN COLLECTION</p>
    </div>
  </footer>
{% endblock content %}