{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/product/manage_product.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
    </header>
    <div class="l-navbar sidebar bg-white" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="{% url 'User:admin' %}" class="nav_logo"> <img src="../../assets amelyn collection/logo (2).png" alt=""
                        height="25px"><span class="nav_logo-name text-black">Amelyn Collection</span></a>
                <div class="nav_list">
                    <a href="{% url 'User:admin' %}" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span> </a>
                    <a href="{% url 'Admin:manage-product' %}" class="nav_link active rounded-end"> <i class='bx bxs-t-shirt'></i> <span
                            class="nav_name">Product</span>
                    </a>
                    <a href="{% url 'Admin:manage-order' %}" class="nav_link"> <i class='bx bx-notepad'></i> <span class="nav_name">Order</span> </a>
                    <a href="{% url 'Admin:manage-return-order' %}" class="nav_link"> <i class='bx bx-timer'></i> <span class="nav_name">Product
                            Return</span> </a>
                </div>
            </div> <a href="{% url 'User:logout' %}" class="nav_link logout-btn rounded-end"> <i class='bx bx-log-out nav_icon'></i> <span
                    class="nav_name">Log Out</span> </a>
        </nav>
    </div>
    <main>
        <h4><b>Product</b></h4>
        <!-- Search and Add -->
        <div class="d-flex mt-5 justify-content-between">
            <form class="d-flex" role="search">
                <input class="form-control shadow-none me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <button type="button" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#addProductModal">Add New Product</button>
        </div>
        <!-- Data -->
        <div class="mt-5 d-flex justify-content-around">
          <table class="table table-striped">
            <thead>
              <tr>
              <th class="text-center" scope="col">id</th>
              <th class="text-center" scope="col">nama produk</th>
              <th class="text-center" scope="col">stok</th>
              <th class="text-center" scope="col" >image</th>
              <th class="text-center" scope="col">price/day</th>
              <th class="text-center" scope="col">size</th>
              <th class="text-center" scope="col">desc</th>
              <th class="text-center" scope="col">dibuat</th>
              <th class="text-center" scope="col">di update</th>
              <th class="text-center" scope="col"></th>
              </tr>
              </thead>
              <tbody>
          {% for  product in products %}
              <tr>
                <th scope="row">{{product.id}}</th>
                <td class="text-center">{{product.name}}</td>
                <td class="text-center">{{product.stock}}</td>
                <td class="text-center">{{product.images}}</td>
                <td class="text-center">{{product.pricePerDay}}</td>
                <td class="text-center">{{product.sizeProduct}}</td>
                <td class="text-center">{{product.description}}</td>
                <td class="text-center">{{product.created_at}}</td>
                <td class="text-center">{{product.updated_at}}</td>
                <td class="text-center">
                    <a type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#updateProductModal{{ product.id }}">update</a>
                    <a href="{% url 'Admin:delete-product' delete_id=product.id %}" class="btn btn-danger btn-sm ml-2">delete</a>
                </td>
          {% endfor %}
        </tbody>
        </table>
      
        </div>
    </main>

    <!-- Add Product Modal -->

    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Add form for new product -->
                    <form action="{% url 'Admin:add-product' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name</label>
                            <input type="text" class="form-control shadow-none" id="productName" name="productName" required>
                        </div>
                        <div class="mb-3">
                            <label for="productStock" class="form-label">Stock</label>
                            <input type="number" class="form-control shadow-none" id="productStock" name="productStock" required>
                        </div>
                        <div class="mb-3">
                            <label for="productImages" class="form-label">Image</label>
                            <input type="file" class="form-control shadow-none" id="productImages" name="productImages" required>
                        </div>
                        <div class="mb-3">
                            <label for="productPrice" class="form-label">Price per Day</label>
                            <input type="number" class="form-control shadow-none" id="productPrice" name="productPrice" required>
                        </div>
                        <div class="mb-3">
                            <label for="productSize" class="form-label">Size</label>
                            <select class="form-select shadow-none" id="productSize" name="productSize" required>
                                <option value="">Pilih ukuran</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="productDesc" class="form-label">Description</label>
                            <textarea class="form-control shadow-none" id="productDesc" name="productDesc" rows="3" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


    <!-- Update Product Modals -->
    {% for product in products %}
<div class="modal fade" id="updateProductModal{{ product.id }}" tabindex="-1" aria-labelledby="updateProductModal{{ product.id }}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateProductModal{{ product.id }}Label">Update Product</h5>
                <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'Admin:update-product' product.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="productName" class="form-label">Product Name</label>
                        <input type="text" class="form-control shadow-none" id="productName" name="productName" value="{{ product.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="productStock" class="form-label">Stock</label>
                        <input type="number" class="form-control shadow-none" id="productStock" name="productStock" value="{{ product.stock }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="productImages" class="form-label">Image</label>
                        <input type="file" class="form-control shadow-none" id="productImages" name="productImages" required>
                    </div>
                    <div class="mb-3">
                        <label for="productPrice" class="form-label">Price per Day</label>
                        <input type="number" class="form-control shadow-none" id="productPrice" name="productPrice" value="{{ product.pricePerDay }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="productSize" class="form-label">Size</label>
                        <select class="form-select shadow-none" id="productSize" name="productSize" required>
                            <option value="">Pilih ukuran</option>
                            <option value="S" {% if product.sizeProduct == "S" %} selected {% endif %}>S</option>
                            <option value="M" {% if product.sizeProduct == "M" %} selected {% endif %}>M</option>
                            <option value="L" {% if product.sizeProduct == "L" %} selected {% endif %}>L</option>
                            <option value="XL" {% if product.sizeProduct == "XL" %} selected {% endif %}>XL</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="productDesc" class="form-label">Description</label>
                        <textarea class="form-control shadow-none" id="productDesc" name="productDesc" rows="3" required>{{ product.description }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
           
        </div>
    </div>
</div>
{% endfor %}

    

    <script src="{% static 'js/sideMenu.js.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
