@font-face {
    font-family: 'Poppins';
    src: url('../../../../../Poppins/Poppins-Regular.ttf');
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

main {
    margin-top: 75px;
}

.checkout-button {
    background-color: #ffb98f;
    color: white;
}

.checkout-button:hover {
    color: white;
}

.radius {
    border-radius: 10px;
}

.navbar-nav {
    align-items: center;
}

header {
    margin-top: 55px;
}

.navbar .btn-login {
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 10px;
    height: 30px;
    font-size: 12px;
}

.btn-login:hover {
    color: black;
    border: 1px solid black;
}


@media (max-width: 768px) {
    .col-4 img {
        width: 100%;
    }

    .col-4 h4 {
        font-size: 1rem;
    }

    .col-4 p {
        font-size: 0.8rem;
    }

    .col-4 p {
        font-size: 0.8rem;
    }
}

@media (max-width: 993px) {
    .col-4 img {
        width: 100%;
    }

    .col-4 h4 {
        font-size: 1rem;
    }

    .col-4 p {
        font-size: 0.8rem;
    }

    .col-4 p {
        font-size: 0.8rem;
    }
}