{% extends '../base.html' %}
{% load static %}

{% block header %}
    
{% endblock header %}

{% block content %}
    <h1>Form CheckOut</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control shadow-none" id="firstName" name="firstName" placeholder="Enter First Name">
          </div>
          <div class="col">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control shadow-none" id="lastName" name="lastName" placeholder="Enter Last Name">
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="{{ user_email }}" placeholder="Enter Email" disabled>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="checkIn" class="form-label">Check In</label>
            <input type="date" class="form-control shadow-none" id="checkIn" name="checkIn">
          </div>
          <div class="col">
            <label for="checkOut" class="form-label">Check Out</label>
            <input type="date" class="form-control shadow-none" id="checkOut" name="checkOut">
          </div>
        </div>
        <div class="mb-3">
          <label for="telephone" class="form-label">Telephone</label>
          <input type="tel" class="form-control shadow-none" id="telephone" name="telephone" placeholder="Enter Telephone Number">
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">Address</label>
          <textarea class="form-control shadow-none" id="address" name="address" rows="3" placeholder="Enter Address"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock content %}
        