{% extends '../base.html' %}
{% load static %}


{% block header %}
    
{% endblock header %}

{% block content %}
    <h1>manage return order</h1>
    <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead>
              <tr>
                <th>ID Return Order</th>
                <th>Receipt Code</th>
                <th>Image Path</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for returnOrder in returnOrders %}
              <tr>
                <td>{{ returnOrder.id_return_order }}</td>
                <td>{{ returnOrder.id_order }}</td>
                <td>{{ returnOrder.return_receipt_code }}</td>
                <td>{{ returnOrder.image }}</td>
                <td>
                    <form action="{% url 'Admin:update-return-order' id_return_order=returnOrder.id_return_order %}" method="POST">
                      {% csrf_token %}
                      <select name="status" onchange="this.form.submit()">
                        <option value="Sent" {% if returnOrder.status == 'Sent' %} selected {% endif %}>Sent</option>
                        <option value="Received" {% if returnOrder.status == 'Received' %} selected {% endif %}>Received</option>
                      </select>
                    </form>
                  </td>
                <td>{{ returnOrder.created_at }}</td>
                <td>{{ returnOrder.updated_at }}</td>
                <td>
                    <form action="{% url 'Admin:delete-return-order' id_return_order=returnOrder.id_return_order %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this data?')">Delete</button>
                    </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
{% endblock content %}