{% extends '../base.html' %}
{% load static %}
{% load mathfilters %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/order/payment.css' %}">

    
{% endblock header %}

{% block content %}
    {% comment %} <h1>Form Payment</h1>
    <div class="p-5 row">
        <div class="col-md-8">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                    {% for item_order in cart_items %}
                      {% with product=item_order.id_product %}
                        {% with x=context_var %}  
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="Product Image">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.name }}</h5>
                                        <p class="card-text">{{ product.description }}</p>
                                        <p class="card-text">{{ product.stock }}</p>
                                        <h5 class="card-title">{{ product.pricePerDay }}</h5>
                                        <div class="counter">
                                            <div class="counter-value" data-item-id="{{ item_order.id }}">{{ item_order.quantity }}</div>
                                        </div>
                                        <p class="card-text subtotal">Subtotal: ${{ product.pricePerDay | mul:item_order.quantity }}</p>
                                    </div>
                                </div>
                            </div>
                          </div>
                          {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4">
          Total Harga
          <div class="total harga">{{ grand_total }}</div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Payment Receipt</label>
              <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="payment_receipt_image_path">
            </div>
            <button class="btn btn-primary" type="submit">Payment</button>
          </form>

          
        </div>
      </div> {% endcomment %}


      <header>
        <!-- navbar -->
        <div class="container mb-3 fixed-top bg-white">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.png' %}" alt="" width="30">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Product</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Hi, User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Hi, User</a></li>
                      <li><a class="dropdown-item" href="#">My Order</a></li>
                      <li><a class="dropdown-item" href="#">Log Out</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><img
                        src="{% static 'img/chart-black.png' %}" alt=""></a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <main>
        <div class="container">
            <h3><b>Payment</b></h3>
            <div class="row justify-content-between">
                <!-- Cart Items -->
                <div class="col-md-8">
                    {% for item_order in cart_items %}
                    {% with product=item_order.id_product %}
                    {% with x=context_var %}  

                    <div class="row mb-3 shadow-sm border radius">
                        <!-- Product Image -->
                        <div class="col-3">
                            <img class="mt-2 radius mb-2" src="{{ product.image.url }}" width="150px" alt="">
                        </div>
                        <!-- Product Details -->
                        <div class="col-3">
                            <h4 class="mt-2">{{ product.name }}</h4>
                            <p>{{ product.description }}</p>
                            <p>Stock: {{ product.stock }}</p>
                        </div>
    
                        <div class="col-3 align-self-center text-center">
                            <h4 class="mt-2">Count</h4>
                            <p class="counter-value" data-item-id="{{ item_order.id }}">{{ item_order.quantity }}</p>
                          </div>
    
                        <div class="col-3 align-self-center text-center">
                            <h4 class="mt-2">Total</h4>
                            <p>{{ product.pricePerDay | mul:item_order.quantity }},-</p>
                        </div>
                    </div>
                    {% endwith %}
                    {% endwith %}
                    {% endfor %}
                </div>
                <!-- Payment Section -->
                <div class="col-md-4">
                    <div class="row border shadow-sm radius">
                        <h4 class="mt-3"><b>Confirm Your Purchase</b></h4>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 form-group">
                                <label for="cardName" class="form-label">Name of Card</label>
                                <input type="text" class="form-control shadow-none" id="cardName" placeholder="Name of Card">
                            </div>
                            <div class="mb-3 form-group">
                                <label for="cardNumber" class="form-label">Card Number</label>
                                <input type="number" class="form-control shadow-none" id="cardNumber" placeholder="Card Number">
                            </div>
                            <div class="mb-3 form-group">
                                <label for="paymentReceipt" class="form-label">Upload Payment Receipt</label>
                                <input type="file" class="form-control shadow-none" id="paymentReceipt" placeholder="Upload Payment Receipt">
                            </div>
                            <div class="mb-3 form-group">
                                <button style="width: 100%;" type="submit" class="btn checkout-button">Checkout</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    
    {% endblock content %}