{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/user/home.css' %}">

    
{% endblock header %}
{% block content %}

<header>
  <!-- navbar -->
  <div class="container mb-3 fixed-top bg-white"> 
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid ">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'img/logo.png' %}" alt="" width="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Product:list-product' %}">Product</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Hi, {{current_user}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'Order:pesananSaya' %}">My Order</a></li>
                <li><a class="dropdown-item" href="{% url 'User:logout' %}">Log Out</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Cart:cart' %}">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'User:userSignIn' %}">
                <button class="btn btn-login">Login</button>
              </a>
            </li>
            {% endif %}
            
          </ul>
        </div>
      </div>
    </nav>
    
  </div>
</header>

  <main>
    <div class="container">

      <!-- Hero Section -->
      <div class="hero-section rounded-4 d-flex justify-content-center align-items-center text-center flex-column">
        <h1><b>STYLE THAT <br>PEAK</b></h1>
        <h5 class="mt-3"><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iure eius aperiam dolor, similique quis,
          voluptates porro tenetur exercitationem voluptas cupiditate facere, quae corporis! Unde nisi aut repellat ab
          quasi!</b></h5>
        <a href="{% url 'Product:list-product' %}" class="btn btn-reserved rounded-3 mt-3 fw-bold">Reserved Now</a>
      </div>


      <!-- About -->
      <h3 class="fw-bold mt-5">About Us</h3>
      <hr class="line rounded-4">
      <div class="about">
        <div class="row">
          <div class="col-md-7 d-flex justify-content-center align-items-center">
            <h5>Amelyn Collection Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio a corporis autem natus
              nihil ducimus veniam amet fugit. Quas, debitis earum molestiae nostrum nulla facere recusandae maxime
              perspiciatis officiis vitae.</h5>
          </div>
          <div class="col-md-5">
            <img src="{% static 'img/about.png' %}" width="450px" alt="" class="rounded-4">
          </div>
        </div>
      </div>

      <!-- New Product -->
      <h3 class="fw-bold mt-5">New Products</h3>
      <hr class="line rounded-4">
      <div class="row justify-content-start">
        {% for product in products  %}  
              <!-- card -->
              <div class="card mb-3 shadow-sm" style="width: 18rem; margin: 0 5px">
                  <img src="{{product.image}}" class="card-img-top mt-3"
                      alt="...">
                  <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p><b>{{product.pricePerDay}}</b></p>
                      <p class="card-text">{{product.stock}}</p>

                      <div class="row">
                          <div class="col">
                              {% comment %} <a href="#" class="btn bt-sm cart-button">Add to Cart</a> {% endcomment %}
                              {% if product.stock != 0 %}
                              <form method="post" action="{% url 'Cart:add_to_cart' product_id=product.id %}">
                                {% csrf_token %}
                                <button class="btn bt-sm cart-button w-100" type="submit">Add to Cart</button>
                              </form>
                            {% else %}
                              <button class="btn bt-sm cart-button disabled w-100" type="submit">Add to Cart</button>
                            {% endif %}
                          </div>
                          <div class="col">
                              <a href="{% url 'Product:detail-product' detail_id=product.id %}" class="btn description-button w-100">Detail</a>
                          </div>
                      </div>
                  </div>
              </div>

          {% endfor %}
      </div>

      <!-- Testimoni -->
      <h3 class="fw-bold mt-5">Testimoni</h3>
      <hr class="line rounded-4">
      <div class="row justify-content-start text-center">

        
        {% for testi in testimonials %}
        <div class="card mb-3 shadow-sm" style="width: 15rem; margin: 0px 3px;">
          <div class="card-body">
            <h5 class="card-title">{{testi.id_user}}</h5>
            <p class="card-text">{{testi.content}}</p>
          </div>
        </div>
        {% endfor %}
          
        <!-- testi -->
        

    </div>
  </main>

  <!-- Footer -->
  <footer>
    <div class="container text-center mt-5">
      <p>UPSKILL FOR A BETTER FUTURE</p>
      <h1><b>Request More Information</b></h1>
      <h6>AMELYN COLLECTION is a clinical stage healthcare company which is developing a unique.</h6>
      <div class="d-flex justify-content-around mt-5">
        <img src="{% static 'img/logo.png' %}" alt="" height="35px">
        <a href="#" class="btn bt-sm description-button contact rounded-3">Contact Us</a>
        <div class="row">
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/linkedin.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/b.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/ig.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/yt.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            
        </div>
      </div>
      <p class="mt-3">&copy;2024-AMELYN COLLECTION</p>
    </div>
  </footer>

{% endblock content %}
    