{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/user/login.css' %}">
<link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
<title>Amelyn Collection</title>
{% endblock header %}
{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-7">
            <img src="{% static 'img/loginImage.png' %}" alt="">
        </div>
        <div class="col-md-5 justify-content-center align-items-center">
            <form method="POST">
                {% csrf_token %}
                <h3><b>Login.</b></h3>
                <div class="mb-3">
                    <input type="email" class="form-control shadow-none" id="exampleInputEmail1" name="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control shadow-none" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
                {% include 'widgets/flasher.html' %}
                <button type="submit" class="btn">Login</button>
                <p>Don't have an account? <a href="{% url 'User:userSignUp' %}">Register</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
