{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/user/home.css' %}">
<link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
<title>Amelyn Collection</title>
    
{% endblock header %}
{% block content %}

<header>
  <!-- navbar -->
  <div class="container mb-3 fixed-top bg-white"> 
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid ">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'img/logo.png' %}" alt="" width="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Product:list-product' %}">Produk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Hubungi Kami</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Hi, {{current_user}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'Order:pesananSaya' %}">Pesanan Saya</a></li>
                <li><a class="dropdown-item" href="{% url 'User:logout' %}">Keluar</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'Cart:cart' %}">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'User:userSignIn' %}">
                <button class="btn btn-login">Login</button>
              </a>
            </li>
            {% endif %}
            
          </ul>
        </div>
      </div>
    </nav>
    
  </div>
</header>

  <main>
    <div class="container">

      <!-- Hero Section -->
      <div class="hero-section rounded-4 d-flex justify-content-center align-items-center text-center flex-column">
        <h1><b>STYLE THAT <br>PEAK</b></h1>
        <h5 class="mt-3">Berkreasi tanpa batas dengan koleksi kostum kami yang kaya akan pilihan dari berbagai tema dan era. Apakah Anda ingin menjadi pahlawan super, karakter sejarah, atau mengeksplorasi dunia fantasi? Kami memiliki kostum yang sempurna untuk setiap acara dan kebutuhan.</h5>
        <a href="{% url 'Product:list-product' %}" class="btn btn-reserved rounded-3 mt-3 fw-medium">Reservasi Sekarang</a>
      </div>


      <!-- About -->
      <h3 class="fw-bold mt-5">Tentang Kami</h3>
      <hr class="line rounded-4">
      <div class="about">
        <div class="row">
          <div class="col-md-7 d-flex justify-content-center align-items-center">
            <h5 class="">
              <p style="text-indent: 45px;">Selamat datang di Amelyn Collection! Kami adalah destinasi utama Anda untuk penyewaan kostum yang luar biasa dan beragam. Di sini di Amelyn Collection, kami mengerti betapa pentingnya setiap momen istimewa dalam hidup Anda, dan kami berkomitmen untuk membantu Anda menjadikannya tak terlupakan.</p>
              
              <p style="text-indent: 45px;">Didirikan dengan hasrat untuk membawa imajinasi menjadi kenyataan, kami menawarkan koleksi kostum yang luas dan berkualitas tinggi untuk memenuhi kebutuhan setiap acara dan tema. Dari kostum klasik yang selalu populer hingga tren terbaru di dunia hiburan, kami memiliki pilihan yang tepat untuk setiap karakter yang ingin Anda hidupkan.</p>
              
              <p style="text-indent: 45px;">Kami bukan hanya sekadar penyedia kostum. Kami adalah mitra dalam petualangan kreatif Anda. Tim kami yang berdedikasi siap membantu Anda menemukan kostum yang sesuai dengan visi Anda, dan kami menyediakan layanan pelanggan yang ramah serta proses penyewaan yang mudah untuk memastikan pengalaman yang menyenangkan dari awal hingga akhir.</p>
              
              <p style="text-indent: 45px;">Kami bangga menjadi bagian dari setiap cerita yang Anda tulis, setiap karakter yang Anda perankan, dan setiap momen yang Anda rayakan. Mari bergabung dengan kami di Amelyn Collection dan mulailah petualangan kostum Anda sekarang!</p>
              
              <br>
              <p><b>Harap diperhatikan</b>: Untuk kenyamanan bersama, kami memberlakukan denda keterlambatan sebesar 2% dari total harga sewa per hari. Selain itu, periode peminjaman kostum maksimal adalah 15 hari. Terima kasih telah memilih Amelyn Collection, dan kami berharap dapat membantu Anda menciptakan kenangan yang indah.</p></h5>
          </div>
          <div class="col-md-5">
            <img src="{% static 'img/about.png' %}" width="450px" alt="" class="rounded-4">
          </div>
        </div>
      </div>

      <!-- New Product -->
      <h3 class="fw-bold mt-5">Produk Terbaru</h3>
      <hr class="line rounded-4">
      <div class="row justify-content-start">
        {% for product in products|slice:":5" %}
              <!-- card -->
              <div class="card mb-3 shadow-sm" style="width: 18rem; margin: 0 5px">
                  <img src="{{product.image.url}}" class="card-img-top mt-3"
                      alt="..." style="height: 170px;">
                  <div class="card-body">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p><b>{{product.pricePerDay}}</b></p>
                      <p class="card-text">stok: {{product.stock}}</p>

                      <div class="row">
                          <div class="col">
                              {% comment %} <a href="#" class="btn bt-sm cart-button">Add to Cart</a> {% endcomment %}
                              {% if product.stock != 0 %}
                              <form method="post" action="{% url 'Cart:add_to_cart' product_id=product.id %}">
                                {% csrf_token %}
                                <button class="btn bt-sm cart-button text-center w-100" type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                              </form>
                            {% else %}
                              <button class="btn bt-sm cart-button text-center disabled w-100" type="submit"><i class="fa-solid fa-cart-plus"></i></button>
                            {% endif %}
                          </div>
                          <div class="col">
                              <a href="{% url 'Product:detail-product' detail_id=product.id %}" class="btn description-button w-100">Detail</a>
                          </div>
                      </div>
                  </div>
              </div>

          {% endfor %}
      </div>

      <!-- Testimoni -->
      <h3 class="fw-bold mt-5">Testimoni</h3>
      <hr class="line rounded-4">
      <div class="row justify-content-start text-center">

        
        {% for testi in testimonials|slice:":6" %}
        <div class="card mb-3 shadow-sm" style="width: 15rem; margin: 0px 3px;">
          <div class="card-body">
            <h5 class="card-title">{{testi.id_user}}</h5>
            <p class="card-text">{{testi.content}}</p>
          </div>
        </div>
        {% endfor %}
          
        <!-- testi -->
        

    </div>
  </main>

  <!-- Footer -->
  <footer>
    <div class="container text-center mt-5">
      <p>KREASIKAN OUTFIT DENGAN BEBAS</p>
      <h1><b>Informasi Lebih Lanjut</b></h1>
      <h6>Amelyn Collection adalah destinasi utama untuk penyewaan kostum, menyediakan pilihan kostum berkualitas tinggi yang tak tertandingi untuk setiap acara.</h6>
      <div class="d-flex justify-content-around mt-5">
        <img src="{% static 'img/logo.png' %}" alt="" height="35px">
        <a href="{% url 'contact' %}" class="btn bt-sm description-button contact rounded-3">Hubungi Kami</a>
        <div class="row">
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/linkedin.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/b.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/ig.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            <div class="col-md-3">
                <a href="#"><img src="{% static 'img/yt.png' %}" class="card-img-top mt-3" alt=""></a>
            </div>
            
        </div>
      </div>
      <p class="mt-3">&copy;2024-AMELYN COLLECTION</p>
    </div>
  </footer>

{% endblock content %}
    