{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/user/login.css' %}">
<link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
<title>Amelyn Collection</title>
{% endblock header %}
{% block content %}

<div class="justify-content-center align-items-center">
  <div class="container-fluid">
      <div class="row text-center">
          <div class="col-md-7">
              <img src="{% static 'img/registerImage.png' %}" alt="">
          </div>
          <div class="col-md-5  justify-content-center align-items-center">
              <form method="POST">
                {% csrf_token %}
                  <h3><b>Register.</b></h3>
                  <div class="mb-3">
                    <input type="text" class="form-control shadow-none" id="anu" name="firstName" placeholder="First Name">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control shadow-none" id="anu" name="lastName" placeholder="Last Name">
                  </div>
                  <div class="mb-3">
                      <input type="email" class="form-control shadow-none" name="email" id="exampleInputEmail1" placeholder="Email">
                  </div>
                  <div class="mb-3">
                      <input type="password" class="form-control shadow-none" name="password" id="exampleInputPassword1"
                          placeholder="Password">
                  </div>
                  <button type="submit" class="btn">Register</button>
                  <p>Already have an account? <a href="{% url 'User:userSignIn' %}">Sign In</a></p>
              </form>
          </div>
      </div>
  </div>
</div>

{% endblock content %}
