@font-face {
    font-family: 'Poppins';
    src: url('../../../../../Poppins/Poppins-Regular.ttf');
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

main {
    margin-top: 75px;
}

.next-button {
    background-color: #5c8374;
    color: white;
}

.next-button:hover {
    color: white;
    background-color: #5c8374;
}

.navbar-nav {
    align-items: center;
}

header {
    margin-top: 55px;
}

.navbar .btn-login {
    color: black;
    border: 1px solid black;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 10px;
    height: 30px;
    font-size: 12px;
}

.btn-login:hover {
    color: black;
    border: 1px solid black;
}